<nav class="flex justify-between py-2 mx-auto bg-gray-300">
    <div class="flex items-center ml-4 pl-2">
        <h3 class="text-2xl font-medium text-blue-500 ">Snowtrick</h3>
    </div>

    <div class="flex items-center space-x-2 mr-4 pr-4">
        <a href="{{path('app_main')}}">Home</a>
        <a href="">Tricks</a>

        {% if app.user %}
            <a href="{{path('app_logout')}}">
                <button class="px-4 py-2 text-white bg-red-800 rounded-md">
                    logout
                </button>
            </a>
        {% else %}
            <a href="{{path('app_login')}}">
                <button class="px-4 py-2 text-white bg-blue-600 hover:bg-indigo-400 rounded-md">
                    Sign in
                </button>
            </a>
            <a href="{{path('app_register')}}">
                <button class="px-4 py-2 text-white bg-orange-400 hover:bg-orange-800 rounded-md">
                    Sign up
                </button>
            </a>
        {% endif %}
    </div>
</nav>