<!DOCTYPE html>
<html class lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{asset('images/favicon.ico')}}"/>        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            <script src="https://cdn.tiny.cloud/1/70e6jobl7u7xxhwzi187ucfmlkd9zmy8tr29fh36wmfqzeaw/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
            <script>
                tinymce.init({
                    selector: '#mytextarea',
                    language: 'fr_FR',
                    height: "300"
                });
            </script>

        {% endblock %}
    </head>
    <body class="bg-white font-sans leading-normal tracking-normal">
        {% include('layouts/_nav.html.twig') %}
        {% if app.user and app.user.isVerified == false %}
            {% include('layouts/_flash.html.twig') %}
        {% endif %}
        {% include('layouts/_flash.html.twig') %}

        {% block body %}{% endblock %}
        {% include('layouts/_footer.html.twig') %}

    </body>
</html>
