<h1>Bonjour {{ user.name }}!</h1>

<p>Pour réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant</p>

<a href="{{ url|raw }}">{{ url|raw }}</a>

<p>Ce lien expirera dans 3 heures.</p>

<p>Merci!</p>
